<%= render 'view_in_table' %>
<!--
<div class="picmenubar">
  <div class="row">

    <div class="col-md-9">
    <div class="cute-button3"><%= sortable "pickup", "GetOrder" %></div>
    <div class="cute-button3"><%= sortable "deadline", "Deadline" %></div>
    <a href="/orderlists/processing?direction=desc&sort=updated_at" class="cute-button3">Update</a>
    <a href="/orderlists/processing?utf8=✓&search=rush" class="cute-button3">rush</a>
    <div class="cute-button3"><%= sortable "status_factory","Status" %></div>
    <a href="/orderlists/processing?utf8=✓&search=1.CAD" class="cute-button3">CADing</a>
    <a href="/orderlists/processing?utf8=✓&search=2.printed" class="cute-button3">Printed</a>
    <a href="/orderlists/processing?utf8=✓&search=3.casted" class="cute-button3">Casted</a>
    <a href="/orderlists/processing?utf8=✓&search=4.setting" class="cute-button3">Setting</a>
    </div>

         <div class="col-md-3">
      <%= form_tag orderlists_processing_path, :method => 'get' do %><%= text_field_tag :search, params[:search],:placeholder => "Search..." %><%end%>
    </div>
   
  </div>
</div>
<%= render 'view_in_pics' %>
!-->