<div class="panel-body">
    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-users">
            <thead>
              <tr>
				        <th>Picture</th>
				        <th><%= sortable "name", "姓名" %></th>
				        <th><%= sortable "firstname", "Firstname" %></th>
                <th><%= sortable "lastname", "Lastname" %></th>
                <th><%= sortable "phone1", "Phone#" %></th>
	              <th><%= sortable "email", "Email" %></th>
				        <th><%= sortable "check_teacher", "teacher?" %></th>
			        	<th><%= sortable "Roles", "Roles" %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
		            <tr>
		              <td>
		                <% if user.pic1.present?%>
		                  <%= link_to(image_tag(user.pic1_url(:thumb), :height => "75", :border => 0), user )%>
		                <%end%>
		              </td>
		              <td>
		                <%= user.name %>
		              </td>

		              <td>
		                <%= user.firstname %>
		              </td>
		              <td>
		                <%= user.lastname %>
		              </td>
		              <td>
		                <%= user.phone_mobile %>
		              </td>
		              <td>
		                <%= user.email %>
		              </td>

		              <td>
                    <%= best_in_place user, :check_teacher, :type => :checkbox%>
		              </td>
		              <td>
                    <% if user.roles.present? %>
                      <% if user.name == current_user.name || user.name =="Admin"  %>
                        <%= user.roles.first.name%>
                      <%else%>
                        <%= best_in_place user, :role_ids , :as => :select, :collection => Role.all.map { |i| [i.id, i.name  ] },:place_holder=>user.roles.first.name %>
                      <%end%>
                    <%else%>
                      <%= best_in_place user, :role_ids , :as => :select, :collection => Role.all.map { |i| [i.id, i.name  ] },:place_holder=>"-----" %>
                    <%end%>
		              </td>
		              <td>
		                <%= link_to 'Detail', user,:class=>"btn btn-primary btn-xs btn-block"%>
		                <%= link_to 'Edit', {:controller => 'users', :action => 'editbyadmin', :id => user.id},{:class=>"btn btn-info btn-xs btn-block"} %>

		              </td>
		            </tr>
		        <%end%>
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->

</div>
<!-- /.panel-body -->


    <script>
    $(document).ready(function() {
        $('#dataTables-users').DataTable({
                responsive: true
        });
    });
    </script>
