<div class="container">

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr class="head">
            <th>
              Activate
            </th>
            <th>
              <b><%= sortable "year", "Year" %>
            </th>
            <th>
              <b><%= sortable "type", "Type" %>
            </th>
            <th>
              <b><%= sortable "class_name", "Class" %>
            </th>
            
            <th>
              <b>Picture
            </th>
            <th>
              <b><%= sortable "teacher_id", "Teacher" %>
            </th>
            <th>
              <b><%= sortable "place", "Place" %>
            </th>
            <th>
              <b><%= sortable "tuition", "Tuition" %>
            </th>
            <th>
              <b>Students
            </th>
            <th>
              <b>Docs
            </th>
            <th class="noprint">
            </th>
          </tr>
        </thead>
        <tbody>
          <% @classlists.each do |classlist| %>
            <tr>
              <td>
                <%= best_in_place classlist, :active, :type => :checkbox , collection: {false: "<i class='fa fa-square-o'></i>".html_safe, true: "<i class='fa fa-check-square-o'></i>".html_safe}, :class=>"cute-button-2"%>
              </td>
              <td>
                <%= classlist.year %>
              </td>
              <td>
                <%= classlist.kind %>
              </td>
              <td>
                <%= classlist.class_name %>
              </td>
              
              <td>
                <% if classlist.user.pic1.present? %>
                  <%= link_to(image_tag(classlist.user.pic1_url(:thumb), :height => "100", :border => 0), classlist.user )%>
                <%else%>
                  <img src="/images/default_profile.jpg" style="height:100px" />
                <%end%>
              </td>
              <td>
                <%= classlist.user.name %>
              </td>
              <td>
                <%= best_in_place classlist,:place %>
              </td>
              <td>
                $<%= best_in_place classlist,:tuition %>
              </td>
              <td>
                <%= classlist.studentcount%>
              </td>
              <td>
                <%if classlist.classdocuments.any? %>
                <%= classlist.classdocuments.count %>
                <%else%>
                <%= link_to 'Upload', {:controller=>'classlists',:action=>'uploaddocument',:id=>classlist.id}%>
                <%end%>
              </td>
              
              <td class="noprint">
                <%= link_to 'Detail', classlist %> | 
                <%= link_to 'Edit', edit_classlist_path(classlist) %>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="footer" style="background-color:transparent;">
  <div class="noprint">
    <div class="row">
      <div class="col-md-12" style="vertical-align:middle;text-align:center;">
          <a href="/classlists/new" class="cute-button-2">New Class</a>
          <a href="?direction=desc&sort=updated_at" class="cute-button-2">Update</a>
          <a href="/classlists/" class="cute-button-2">Current</a>
          <a href="/classlists/archive_classes" class="cute-button-2">Archived</a>

          <a href="#" onclick="window.print();return false;" class="cute-button-2">PrintPage</a>

        </center>
      </div>
    </div>
  </div>
</div>