<div class="not-display">
	<%= f.text_field :user_id, :value => current_user.id %>
</div>
<div class="row">
	<div class="col-sm-3">
		<%= f.text_field :amount %>
	</div>
	<div class="col-sm-3">
	<!--	<%= f.check_box :cash %>-->
		<%= f.text_field :checknumber %>
	</div>
	<div class="col-sm-3">
		<%= f.text_area :note, :row => 1 %>
	</div>
	<div class="col-sm-3">
		<%= f.file_field :picture1 %>
	</div>
</div>
