<div class="not-display">
	<%= f.text_field :user_id, :value => current_user.id %>
</div>
	<div class="col-sm-3">
		<%= f.text_field :amount %>
	</div>
	<div class="col-sm-3">
	<!--	<%= f.check_box :cash %>-->
		<%= f.text_field :checknumber %>
	</div>
	<div class="col-sm-3">
		<%= f.text_area :note, :row => 5 %>
	</div>
	<div class="col-sm-3">
		<%= f.file_field :picture1 %>
		<%= f.file_field :picture2 %>
		<%= f.file_field :picture3 %>
		<%= f.file_field :picture4 %>
	</div>
	