
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Mother
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <div class="img-print">
              <% if @member.mother_picture.present? %>

                <%= image_tag(@member.mother_picture_url, width: "100%") %>
              <%else%>
                <img src="/images/default_profile.jpg" style="width:100%" />
              <%end%>
            </div>
          </div>
          <div class="col-md-7">
            <div class="col-md-4">
              <p>姓名:
              <p>Name:
              <p>Phone#:
              <p>Email:
              <p>Address:
            </div>
            <div class="col-md-8">
              <p><%= @member.mother_name_chinese %>
              <p><%= @member.mother_firstname %> <%= @member.mother_middlename %> <%= @member.mother_lastname %>
              <p><%= best_in_place @member,:mother_phone1 %>
                 <%= best_in_place @member,:mother_phone2 %>
                 <%= best_in_place @member,:mother_phone3 %>
              <p><%= best_in_place @member,:mother_email1 %>
                 <%= best_in_place @member,:mother_email2 %>
              <p><%= @member.address1_street %>, <%= @member.address1_city %>, <%= @member.address1_state %> <%= @member.address1_zipcode %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Mother
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <div class="img-print">
              <% if @member.mother_picture.present? %>

                <%= image_tag(@member.mother_picture_url, width: "100%") %>
              <%else%>
                <img src="/images/default_profile.jpg" style="width:100%" />
              <%end%>
            </div>
          </div>
          <div class="col-md-7">
            <div class="col-md-4">
              <p>姓名:
              <p>Name:
              <p>Phone#:
              <p>Email:
              <p>Address:
            </div>
            <div class="col-md-8">
              <p><%= @member.mother_name_chinese %>
              <p><%= @member.mother_firstname %> <%= @member.mother_middlename %> <%= @member.mother_lastname %>
              <p><%= best_in_place @member,:mother_phone1 %>
                 <%= best_in_place @member,:mother_phone2 %>
                 <%= best_in_place @member,:mother_phone3 %>
              <p><%= best_in_place @member,:mother_email1 %>
                 <%= best_in_place @member,:mother_email2 %>
              <p><%= @member.address1_street %>, <%= @member.address1_city %>, <%= @member.address1_state %> <%= @member.address1_zipcode %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    <ul class="nav nav-tabs">
        <li class="active"><a href="#students" data-toggle="tab" aria-expanded="true">Students</a>
        </li>
        <li class=""><a href="#payments" data-toggle="tab" aria-expanded="false">Payments</a>
        </li>
        <li class=""><a href="#history" data-toggle="tab" aria-expanded="false">History</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade active in" id="students">
          <% @members.students.in_groups_of(2) do |group| %>
          <% group.compact.each do |student| %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-info">
                <div class="panel-heading">
                  student <%=@count%><% @count += 1 %>
                </div>
                <div class="panel-body">
                  <div class="col-md-3">
                    <% if student.picture1.present? %>
                    <%= link_to(image_tag(student.picture1_url, :width => "100%", :border => 0), student )%>
                    <%else%>
                    <%= link_to image_tag( "/images/default_profile.jpg", :width => "100%", :border => 0), student %>
                      <!--
                      <img src="/images/default_profile.jpg" style="width:100%" />
                      !-->
                    <%end%>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-5">
                            <p>姓名:
                            <p>Name:
                            <p>Birthday:
                            <p>Phone#:
                            <p>Email:
                            <p>School(elementary):
                            <p>School(junior):
                            <p>School(high):
                            <p>Note:
                    </div>
                    <div class="col-md-7">
                            <p><%= student.name_chinese %>
                            <p><%= student.firstname %> <%= student.middlename %> <%= student.lastname %>
                            <p><%= student.birthday %>.
                            <p><%= best_in_place student,:phone1 %>.
                               <%= best_in_place student,:phone2 %>.
                               <%= best_in_place student,:phone3 %>.
                            <p><%= best_in_place student,:email1 %>.
                               <%= best_in_place student,:email2 %>.
                            <p><%= student.school_elementary %>.
                            <p><%= student.school_junior %>.
                            <p><%= student.school_high %>.
                            <p><%= best_in_place student, :note, :type => :textarea, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel'  %>
                    </div>
                  </div>
                  <div class="col-md-5">
                        <h5>Class Info</h5>
                        <%= student.tuitioncount_single %>
                                  <% if student.classinfos.any? %>
                                      <% student.classinfos.order(classlist_id: :asc).each do |classinfo| %>
                                        <div class="row" style="border-top:1px solid black;">
                                          <div class="col-sm-4 col-sm-offset-1">
                                            <h4><%= classinfo.fullname %> $<%= classinfo.tuitioncount%>
                                          </div>
                                          <div class="col-sm-3">
                                            <h4><%= link_to "Class Detail", :controller => 'classlists', :action => 'show', :id => classinfo.classlist_id, target: '_blank'  %>
                                          </div>
                                          <div class="col-sm-3">
                                            <h4><%= link_to "Teacher Detail", :controller => 'users', :action => 'show', :id => classinfo.classlist.teacher_id, target: '_blank'  %>
                                          </div>
                                        </div>

                                     <% end %>
                                  <%else%>
                                     <p>Not Available
                                  <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%end%>
          <%end%>
        </div>
        <div class="tab-pane fade" id="payments">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  payment
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <%= link_to 'Pay Now', {:controller=>:members, :action=>:payment, :id=>@member.id },{:class=>"btn btn-default"} %>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-sm-3">
                      Total Tuition: $<%=@member.tuitioncount%>
                    </div>
                    <div class="col-sm-2">
                      Total Paid:  $<%=@member.paid%>
                    </div>
                    <div class="col-sm-2">
                      <p>Balance: $<%=@member.balance%>
                    </div>

                  </div>
                  <hr>
                  <div class="row">
                    <% if @member.payments.any? %>
                      <% @member.payments.order(created_at: :desc,amount: :asc).each do |payment| %>
                        <div class="col-sm-3">
                          <%= payment.created_at.strftime("%b %d, %Y") %>
                        </div>
                        <div class="col-sm-2">
                          $<%= payment.amount %>
                        </div>
                        <div class="col-sm-7">
                          <% if payment.checknumber.present? %>
                            check#:<%= payment.checknumber %>
                          <%else%>
                            cash
                          <%end%>
                        </div>

                      <%end%>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="history">
          some notes
        </div>

    </div>
</div>


<div class="footer">
    <%= link_to '< Last', @member.previous, :class =>"btn btn-primary btn-lg" %>
    <%= link_to 'Next >', @member.next, :class =>"btn btn-primary btn-lg" %>
    <%= link_to 'Edit', edit_member_path(@member), :class =>"btn btn-info btn-lg" %>
    <%= link_to 'Delete', @member, data: { confirm: 'Are you sure?' }, method: :delete, :class =>"btn btn-danger btn-lg" %>
    <a href="#" onclick="window.print();return false;" class="btn btn-default btn-lg">Print</a>
</div>
